<div class="container">
  <form>
    <div class="row">
      <div class="col-sm-12">
        <h1>Edit Customer Details</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="inputText">First Name</label>
        <input type="text" class="form-control" placeholder="Enter First Name">
      </div>
      <div class="col-sm-6">
        <label class="inputText">Last Name</label>
        <input type="text" class="form-control" placeholder="Enter Last Name">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="inputText">Customer Type</label>
        <select class="form-control">
          <option value="">Select Customer Type</option>
          <option value="1">Saving</option>
          <option value="2">Current</option>
        </select>
      </div>
      <div class="col-sm-6">
        <label class="inputText">Mobile</label>
        <input type="text" class="form-control" placeholder="Enter Mobile">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="control-label">City</label>
        <select class="form-control">
          <option>Please select City</option>
          <option>Akola</option>
          <option>Pune</option>
        </select>
      </div>
      <div class="col-sm-6">
        <label class="inputText">Pin Code</label>
        <input type="text" class="form-control" placeholder="Enter Pin Code">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="control-label">Gender</label>
        <select class="form-control">
          <option>Please select Gender</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
      <div class="col-sm-6">
        <label class="inputText">Is Active</label>
        <input type="checkbox" class="form-control" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </div>
  </form>
</div>