<div class="container">
  <form>
    <div class="row">
      <div class="col-sm-12">
        <h1>Net banking</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="inputText">Account Type</label>
        <select class="form-control">
          <option value="">Please select Account Type</option>
          <option value="1">Saving</option>
          <option value="2">Current</option>
        </select>
      </div>
      <div class="col-sm-6">
        <label class="control-label">Transaction Type</label>
        <select class="form-control">
          <option>Please select Transaction Type</option>
          <option>India</option>
          <option>USA</option>
        </select>
      </div>
      <div class="col-sm-12">
        <label class="inputText">Amount</label>
        <input type="text" class="form-control" placeholder="Amount">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="submit" class="btn btn-primary" value="Complete Transaction">
      </div>
    </div>
  </form>
</div>