<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center">
        <h3>Customer Fields</h3>
      </div>
      <h4 class="card-title">
        <b>Below fields will be applied on the customers</b>
      </h4>
    </div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-3 col-lg-4">
          <div class="form-group">
            <label class="control-label">Customer Name</label>
            <input class="form-control" />
          </div>
        </div>
        <div class="col-md-3 col-lg-4">
          <div class="form-group">
            <label class="control-label">Customer Type</label>
            <select class="form-control">
              <option value="">Select Customer Type</option>
              <option value="1">Saving</option>
              <option value="2">Current</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="form-group">
            <label class="control-label">City</label>
            <select class="form-control">
              <option>Please select City</option>
              <option>Akola</option>
              <option>Pune</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="panel panel-default">
    <div class="panel-heading">Customers</div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Pankaj</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Anil</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>