<div>
  Dashboard will show different numbers

  Total Customers
  Active and Inactive users
  Saving and Current account customer

</div>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="progress blue">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">Active 90%</div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="progress yellow">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">Saving A/C 75%</div>
        </div>
    </div>
</div>